extends layout

block content
 h1= title
 form(id='jaguarForm', action="/resource/jaguars", method="POST")
  div.form-group
    label.jaguarAttr(for='jaguar_color') jaguar color
    input#jaguar_color(type='text', name='jaguar_color')
  div.form-group
    label.jaguarAttr(for='jaguar_breed') jaguar breed
    input#jaguar_breed(type='text', name='jaguar_breed')
  div.form-group
    label.jaguarAttr(for='jaguar_price') jaguar price
    input#jaguar_price(type='number', name='jaguar_price')
  input(type="submit")

 script.
  document.forms['jaguarForm'].addEventListener('submit', (event) => {
   event.preventDefault();
   // TODO do something here to show user that form is being submitted
   fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
   }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
    alert("Save succeded")
    // TODO handle body
   }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
   });
  });